.hero {
    min-height: 60vh;
    width: 100%;
    display: flex;
    max-width: 800px;
    padding: 0 50px;
    justify-content: flex-start;
    background-color: rgb(107, 2, 2);
    align-items: center;
    justify-content: center;
    position:relative;
}

.bsu-logo {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 60px;
    width: 110px;
    height: 110px;
}

.title {
    position: absolute;
    top: 25px;
    font-family: arial;
    font-size: 25px;
    color: white;
}

.group {
    border-style: solid;
    height: 200px;
    width: 560px;
    padding-top: 50px;
    background-image: url(images/Redspartan.png);
    background-position: top center;
    position: relative;
    z-index: 1;
    margin-top: 0px;
    animation: border_change_color 3s running infinite linear;
    position: absolute;
    top: 100px;
    border-radius: 5px;
   
   
    
}

.group::after {
    content:"";
    position: absolute;
    left: 0.5;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
    z-index: -1;
     
}

.moto {
    position: absolute;
    bottom: 30px;
    font-family: arial;
    font-size: 30px;
    color: white;
}

.container {
    display: flex;
    column-gap: 5px;
    margin-bottom: 20px;
}

.container-two {
    display: flex;
    column-gap: 5px;
    text-align: center;
}

.calculate-button {
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(26, 21, 21);
    background-color: rgb(26, 21, 21);
    color: white;
}

.calculate-button:hover {
    background-color: rgb(58, 56, 56);
    transition: 0.5s;
}

.visible, .visibleTwo {
    border-radius: 50px;
    border-style: solid;
    opacity: 0;
   
}

.is-visible {
    opacity: 1;
}

.is-visibleTwo {
    opacity: 1;
}

.position {
    border-style: solid;
    padding: 20px;
    border-width: 5px;
    font-weight: bold;
    color: black;
    animation: border_change_color 3s running infinite linear;
    letter-spacing: 1.5px;
    font-family: arial;
    background-color: white;
    border-radius: 5px;
    
}

p{
    color: white;
    
}

p {
    font-weight: bold;
    
}

input::placeholder {
    text-align: center;
    font-size: 15px;
    color: black;
}

input {
    padding-left: 10px;
   
    
}

@keyframes border_change_color {
    20% {border-color: lightsalmon;}
    40% {border-color: lightblue;}
    60% {border-color: lightcoral;}
    80% {border-color: lightgreen;}
    100% {border-color: lightseagreen;}
}
